<!DOCTYPE html>
<html>
<head>
  <title>{{.AppName}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <script defer src="//use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script type="text/javascript" src="/assets/js/index.js"></script>
</head>
<body>

  <section class="hero is-mono">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="title">
              Graphical API Client for <b><a href="https://github.com/otiai10/ocrserver">OCRSERVER</a></b>
            </p>
            <p class="subtitle">
              or a working example of <a href="https://github.com/otiai10/gosseract">gosseract</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column">

          <p class="title">Input</p>
          <p class="subtitle">File or base64 encoded string</p>

          <div class="card">
            <div class="card-content">
              <div class="content">
                <div class="img-container">
                  <img id="img" src=""/>
                  <p>No Image Selected</p>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" id="by-file">File</a>
              <a class="card-footer-item" id="by-base64">base64</a>
              <a class="card-footer-item" id="cancel-input">Cancel</a>
              <input type="file" accept="image/*" style="display:none" id="file" />
            </footer>
          </div>

        </div>

        <div class="column">
          <p class="title">Options</p>
          <p class="subtitle">Optional flags</p>

          <div class="field">
            <label class="label">Languages</label>
            <div class="control">
              <input class="input" type="text" name="langs" placeholder="eng,jpn,chi_sim">
            </div>
            <p class="help">Comma serapated language codes</p>
          </div>

          <div class="field">
            <label class="label">Char Whitelist</label>
            <div class="control">
              <input class="input" type="text" name="whitelist" placeholder="abc012_-/">
            </div>
            <p class="help">You can specify strict chars to be detected</p>
          </div>

          <div class="field">
            <lable class="label">Use hOCR</lable>
            <label class="checkbox">
              <input type="checkbox" name="hocr"> More about hOCR → <a href="https://en.wikipedia.org/wiki/HOCR">https://en.wikipedia.org/wiki/HOCR</a>
            </label>
          </div>

        </div>
      </div>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <button class="button is-info is-fullwidth is-medium" id="submit">
            <span style="display:none;">
              <span id="loading" class="icon"><i class="fas fa-spinner fa-pulse"></i></span>
              <span style="vertical-align:top;">Processing...</span>
            </span>
            <span>
              <span id="standby" class="icon"><i class="fas fa-spinner fa-paper-plane"></i></span>
              <span style="vertical-align:top;">Submit</span>
            </span>
          </button>
        </div>
      </div>
      <div class="columns">
        <div class="column" style="width:100%;">
          <p class="title">Output</p>
          <pre id="output" style="width:100%;overflow:scroll;">{}</pre>
        </div>
      </div>
    </div>

  </section>

</body>
</html>
